{% extends "_base.html" %}
{% load static %}

{% block meta_title %}PyCon CZ 2016{% endblock %}

{% block meta_head %}
<meta property="og:title" content="PyCon CZ 2016">
<meta property="og:url" content="https://cz.pycon.org/2016/">
<meta property="og:image" content="https://cz.pycon.org/2016/static/img/pyconlogo.svg">
{% endblock %}

{% block body %}
<div class="homepage">
  <div class="container">
    <div class="main-column-1">
      <a href="https://cz.pycon.org/2016/"><div class="logo-lg"></div></a>
    </div>
    <div class="main-column-2">
      <h1 class="header-title">PyCon CZ 2016 Brno<br>28-30 October</h1>
      <nav class="nav-main">
        <ul>
          <li><a href="/2016/about">About</a></li>
          <li><a href="/2016/proposals/talks">Call for Papers</a></li>
          <li><a href="/2016/about/code">Code of Conduct</a></li>
        </ul>
      </nav>
    </div>

    <div class="teaser-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/venjk_cL-Gk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}
