{% extends "_base.html" %}

{% block meta_title %}Sponsorship{% endblock %}

{% block content %}
  <div class="sponsors-offer">
    <div class="container">
      <h1>Sponsorship</h1>

      <p>
        The PyCon CZ 2016 Community Organizing Committee is pleased to invite your
        sponsorship and support of the second annual 3 day PyCon event in Brno,
        Czech Republic on October 28-30th, 2016! Sponsorship and a recruitment
        booth present opportunities to connect directly with the attending
        talents.
      </p>

      <p>
        Last year, the first ever PyCon CZ was held at
        <a href="http://www.fit.vutbr.cz">Fakulta informačních technologií VUT v Brně (FIT)</a>
        and while small, it was
        <a href="https://www.youtube.com/watch?v=venjk_cL-Gk">quite the success</a>,
        and included keynotes from two Python community leaders, Django core
        developer
        <a href="https://www.superlectures.com/pycon2015/the-secret-sauce-behind-open-source">Russell-Keith Magee</a>
        and Twisted core developer
        <a href="https://www.superlectures.com/pycon2015/the-future-of-twisted">Amber Brown</a>.
        Showing the incredible strength of the Python community in Czech Republic
        respectively. We sold out of our conservatively estimated 250 conference
        passes in record time!
      </p>

      <p>
        This year we will again be hosting the event at FIT, but we’re aiming to
        accommodate 400+ attendees for 2 days of presentations across 3 tracks, 2
        lightning talk sessions and a day of sprints and workshops! We’ll also
        double the number of high profile keynote speakers!
      </p>

      <p>
        Watch our official PyCon CZ Twitter, Facebook and Google+ feeds for
        official announcements of important information about the opening of the
        CfP and more information about our incredible lineup of Keynote speakers!
        And don’t forget to help us spread the word by following and
        sharing our messages along with our organizer’s and other
        passionate Pythonista followers!
      </p>
    </div>
  </div>
{% endblock %}
