{% extends "_base.html" %}

{% block meta_title %}PyCon CZ Team{% endblock %}

{% block content %}
<div class="container">
  <h1>PyCon CZ Team</h1>
  <div class="row">
    <div class="person">
      <img src="/2016/static/img/image04.png" alt="Tomáš Ehrlich" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Tomáš Ehrlich</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/tricoder42">tricoder42</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/tomas_ehrlich">@tomas_ehrlich</a>
        </li>
      </ul>
    </div>

    <div class="person">
      <img src="/2016/static/img/image05.jpg" alt="Chris Ward" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Chris Ward</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/kejbaly2">kejbaly2</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/kejbaly2">@kejbaly2</a>
        </li>
      </ul>
    </div>

    <div class="person">
      <img src="/2016/static/img/image16.png" alt="Petr Viktorin" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Petr Viktorin</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/encukou">encukou</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/EnCuKou">@EnCuKou</a>
        </li>
      </ul>
    </div>
  </div> <!-- endrow -->

</div>
{% endblock %}
