{% extends "_base.html" %}

{% block meta_title %}PyCon CZ Team{% endblock %}

{% block content %}
<div class="container">
  <h1>PyCon CZ Team</h1>
  <div class="row">
    <div class="person">
      <img src="/2016/static/img/image01.png" alt="Tomáš Ehrlich" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Tomáš Ehrlich</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/tricoder42">tricoder42</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/tomas_ehrlich">@tomas_ehrlich</a>
        </li>
      </ul>
    </div>
    <div class="person">
      <img src="" alt="Chris Ward" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Chris Ward</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/kejbaly2">kejbaly2</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/kejbaly2">@kejbaly2</a>
        </li>
      </ul>
    </div>
    <div class="person">
      <img src="" alt="Petr Viktorin" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Petr Viktorin</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/encukou">encukou</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/EnCuKou">@EnCuKou</a>
        </li>
      </ul>
    </div>
  </div> <!-- endrow -->

  <div class="row">
    <div class="person">
      <img src="" alt="Honza Javorek" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Honza Javorek</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/honzajavorek">honzajavorek</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/honzajavorek">@honzajavorek</a>
        </li>
      </ul>
    </div>
    <div class="person">
      <img src="" alt="Ales Zoulek" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Ales Zoulek</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/aleszoulek">aleszoulek</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/aleszoulek">@aleszoulek</a>
        </li>
      </ul>
    </div>
    <div class="person">
      <img src="" alt="Jakub Vysoky" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Jakub Vysoky</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/kvbik">kvbik</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/kvbik">@kvbik</a>
        </li>
      </ul>
    </div>
  </div> <!-- endrow -->

  <div class="row">
    <div class="person">
      <img src="" alt="Bára Drbohlavová" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Bára Drbohlavová</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/baradrb">baradrb</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/BaraDrb">@BaraDrb</a>
        </li>
      </ul>
    </div>
    <div class="person">
      <img src="" alt="Stanislav Komanec" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Stanislav Komanec</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/netman92">netman92</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/netman92">@netman92</a>
        </li>
      </ul>
    </div>
    <div class="person">
      <img src="" alt="Beatrix Bodó" class="team-portrait"/>
      <ul class="team-social">
        <li>
          <h5 class="name">Beatrix Bodó</h5>
        </li>
        <li>
          <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i><a href="https://github.com/beatrix-bodo">beatrix-bodo</a>
        </li>
        <li>
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/bodotrixi">@bodotrixi</a>
        </li>
      </ul>
    </div>
  </div> <!-- endrow -->

</div>
{% endblock %}
