html,
body {
  margin: 0;
  padding: 0;
}

html {
  @include vr-init;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // only for development
  //@include vr-grid;
}


@mixin clearfix() {
  &::after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
