footer {
  background: url(/2016/static/img/grid.svg);
  background-repeat: repeat-x;
  background-size: 882px;
  padding: 50px 15px 20px 15px;

  @media (max-width: 768px) {
    text-align: center;
  }

  .nav-footer {
    @include clearfix;

    list-style: none;
    padding-left: 15px;
    line-height: 24px;

    li {
      list-style: none;

      ul {
        padding-left: 10px;
      }
    }
  }

  .nav-section {
    width: 30%;
    float: left;
  }
}

.social-links {
  padding: 10px;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      transition: transform 0.3s, padding-top 0.3s;
      transform-origin: middle center;

      a {
        display: block;
        font-size: 22px;
        padding: 5px;
        height: 25px;
      }

      a:active {
        color: darken($main-color, 5%);
        transition: unset;
        transform: scale(0.8);
      }

      &:hover {
        transform: scale(1.15);
        padding-top: 0;
      }
    }
  }
}
