.cta-cfp {
  display: inline-block;
  width: 14em;
  margin: 3em 0 1em;
  padding: .5em;

  color: black;
  background: $light-color;
  border: 1px solid $main-color;
  border-radius: 2px;
  transition: background-color 0.3s, font-weight 0.3s;

  font-size: 140%;
  text-align: center;

  &:hover {
    background-color: $main-color;
    text-decoration: none;
  }
}

.form {
  $label-width: 24rem;
  $widget-width: 36rem;
  $row-height: 2em;

  h1 {
    margin-left: $label-width;
    margin-bottom: .5em;
  }

  &__row {
    padding-bottom: 1em;

    &::after {
      display: table;
      content: " ";
      clear: both;
    }
  }

  %common {
    display: block;
    min-height: $row-height;
    margin-top: 10px;
    margin-bottom: 5px;
    float: left;

    color: $font-color;
    font-family: $secondary-font;
  }

  %full-row {
    display: block;
    margin-left: $label-width;
    clear: left;
  }

  &__label {
    @extend %common;
    width: $label-width;
    padding-right: 10px;
    text-align: right;
    line-height: $row-height;
  }

  &__widget {
    @extend %common;
    width: $widget-width;

    @media (max-width: 480px) {
      display: block;
      width: 100%;
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    height: 100%;
    border: 1px solid $main-color;
    outline: none;
  }

  select {
    background: white;
  }

  input[type="file"] {
    border: 0;
    padding-top: 5px;
  }

  &__errors {
    @extend %full-row;
    margin-left: $label-width;
    color: $accent-color;
    font-size: 12px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    @media (max-width: 480px) {
      position: relative;
      margin: 20px 0 -10px;
      padding-left: 20px;
    }
  }

  &__help {
    @extend %full-row;
    width: $widget-width;
    font-size: 14px;
    line-height: 1.2;

    br {
      line-height: 2;
    }
  }

  &__actions {
    margin-left: $label-width;
  }

  button {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 2px;
    background: $light-color;
    border: solid 1px $main-color;
    transition: background-color 0.3s, font-weight 0.3s;

    &:active {
      font-weight: 700;
    }
    &:hover {
      background-color: $main-color;
    }
  }
}
