@import "~voidcss-vertical-rhythm";

.pyconlogo {
  img {
    max-width: 280px;
    margin: 30px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      display: block;
      margin: 30px auto;
      width: 100%;
    }
  }
}

.header-title {
  $size: 29px;
  $heading-baseline: vr-scale($size);
  line-height: $heading-baseline;
  vertical-align: middle;
  display: inline-block;
  font-family: $secondary-font;
  margin: 15px 30px;
  text-align: left;

  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

header {
  .container {
    border-bottom: solid 1px $light-color;
    text-align: center;
  }
}

.nav {
  display: table;
  position: fixed;
  left: 0;
  width: 100%;
  table-layout: fixed;

  background-color: white;

  line-height: 2;

  &.--header {
    top: 0;
  }

  &__items {
    display: table-row;
    margin: 0;
    padding: 0;

    &.--level-2 {
      display: none;
      margin-top: 1px;
      $size: 14px;
      $baseline: vr-scale($size);
      font-size: $size;
      line-height: 2*$baseline;

      .--selected & {
        display: table-row;
      }
    }
  }

  &__item {
    display: table-cell;
    list-style: none;
    text-align: center;

    &__link {
      display: block;

      .--level-1 & {
        border-top: 5px solid white;
        border-bottom: 1px solid $main-color;

        &.--selected {
          border-top: 5px solid $main-color;
          border-bottom: 1px solid white;
          border-left: 1px solid $main-color;
          border-right: 1px solid $main-color;
        }
      }

      .--level-2 & {
        border-bottom: 1px solid $main-color;

        &.--selected {
          border-top: 5px solid white;
          border-left: 1px solid white;
          border-right: 1px solid white;
          border-bottom: 1px solid $main-color;
          font-weight: bold;
        }
      }
    }

    &.--last {
      width: 150px;
      white-space: nowrap;

      @media (min-width: $mobile-break) {
        width: auto;
      }
    }
  }
}

.nav-header {
  display: block;
  text-align: center;

  ul {
    li {
      list-style: none;
      display: inline-block;
      text-align: center;
      margin-right: 10px;

      @media (max-width: 768px) {
        width: 215px;
        display: block;
        margin: auto;
      }
      @media (max-width: 480px) {
        width: 100%;
      }

      a {
        display: block;
        padding: calc(0.3em - 1px) 1em;
        margin: 0.5em 0;
        border: solid 1px $light-color;
        transition: border 0.3s, color 0.3s;

        &:hover {
          color: darken($main-color, 10%);
          text-decoration: none;
          border: solid 1px $font-color;
        }
        &:active {
          background-color: darken($main-color, 10%);
          color: white;
        }

        @media (max-width: 768px) {
          margin: -1px;
        }
      }
      .tickets {
        color: white;
        background-color: $main-color;

        &:hover {
          color: white;
          background-color: darken($main-color, 10%);
        }
        &:active {
          background-color: white;
          color: darken($main-color, 10%);
        }
      }
    }

    @media (max-width: 480px) {
      padding: 0;
    }
  }
}
