.pyconlogo {
  img {
    max-width: 280px;
    margin: 30px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      display: block;
      margin: 30px auto;
    }
  }
}

.header-title {
  $size: 29px;
  $heading-baseline: vr-scale($size);
  line-height: $heading-baseline;
  vertical-align: middle;
  display: inline-block;
  font-family: $secondary-font;
  margin: 15px 30px;
  text-align: left;

  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

header {
  .container {
    border-bottom: solid 1px $light-color;
    text-align: center;
  }
}

.nav-header {
  display: block;
  text-align: center;

  ul {
    li {
      list-style: none;
      display: inline-block;
      text-align: center;
      margin-right: 10px;

      @media (max-width: 768px) {
        width: 215px;
        display: block;
        margin: auto;
      }

      a {
        display: block;
        padding: calc(0.3em - 1px) 1em;
        margin: 0.5em 0;
        border: solid 1px $light-color;
        transition: border 0.3s, color 0.3s;

        &:hover {
          color: darken($main-color, 10%);
          text-decoration: none;
          border: solid 1px $font-color;
        }

        @media (max-width: 480px) {
          border: none;
          padding: 0;

          &:hover {
            text-decoration: underline;
            border: none;
          }
        }
      }
      .tickets {
        color: white;
        background-color: $main-color;

        &:hover {
          color: white;
          background-color: darken($main-color, 10%);
        }
      }
    }
  }
}
