.pyconlogo {
  img {
    max-width: 280px;
    margin: 40px 0;
    display: inline-block;
    float: left;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      display: block;
      float: none;
      margin: 40px auto 0 auto;
    }
  }
}

.header-title {
  $size: 38px;
  $heading-baseline: vrScale($size);

  display: inline-block;
  vertical-align: top;

  font-size: $size;
  font-family: $secondary-font;
  line-height: $heading-baseline;
  margin-top: vr(.9, $heading-baseline);
  margin-bottom: vr(.1, $heading-baseline);
  margin-left: 70px;

  @media (max-width: 992px) {
    margin-left: 50px;
  }
  @media (max-width: 768px) {
    display: block;
    //margin: 40px 0 30px 0;
    text-align: center;
  }
  @media (max-width: 480px) {
    //font-size: 24px;
    //margin-bottom: 10px;
  }
}

header {
  .container {
    border-bottom: solid 1px $light-color;
    padding-bottom: $baseline - 1px;
  }
}

.nav-header {
  display: block;
  padding-left: 55px;

  @media (max-width: 992px) {
    width: 100%;
    padding-left: 0;
  }

  ul {
    display: inline-block;
    padding: 0;
    margin-left: 70px;

    @media (max-width: 992px) {
      width: 100%;
      margin-left: 0;
      text-align: center;
    }

    li {
      list-style: none;
      display: inline-block;
      text-align: center;

      @media (max-width: 768px) {
        width: 215px;
        display: block;
        margin: auto;
      }

      & + li {
        margin-left: 30px;
        @media (max-width: 768px) {
          margin-left: auto;
        }
      }

      a {
        display: block;
        padding: calc(0.5em - 1px) 2em;
        margin: 1em 0;
        border: solid 1px $light-color;
        transition: border 0.3s, color 0.3s;

        &:hover {
          color: darken($main-color, 10%);
          text-decoration: none;
          border: solid 1px $font-color;
        }

        @media (max-width: 480px) {
          border: none;
          padding: 0;

          &:hover {
            text-decoration: underline;
            border: none;
          }
        }
      }
    }
  }
}
