@import "~voidcss-vertical-rhythm";

.pyconlogo {
  img {
    max-width: 280px;
    margin: 30px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      display: block;
      margin: 30px auto;
      width: 100%;
    }
  }
}

.header-title {
  $size: 29px;
  $heading-baseline: vr-scale($size);
  line-height: $heading-baseline;
  vertical-align: middle;
  display: inline-block;
  font-family: $secondary-font;
  margin: 15px 30px;
  text-align: left;

  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

header {
  .container {
    border-bottom: solid 1px $light-color;
    text-align: center;
  }
}

.nav {
  display: table;
  position: fixed;
  left: 0;
  width: 100%;
  table-layout: fixed;

  background-color: white;

  z-index: 10000;

  &.--header {
    top: 0;
  }

  @media (min-width: $mobile-break) {
    left: 10%;
    right: 10%;
    width: 80%;
  }

  &__items {
    display: table-row;
    margin: 0;
    padding: 0;

    $size: 16px;
    $baseline: vr-scale($size);
    font-size: $size;
    line-height: 2*$baseline;

    &.--level-2 {
      display: none;
      $size: 14px;
      $baseline: vr-scale($size);
      font-size: $size;
      line-height: 2*$baseline;

      .--selected & {
        display: table-row;
      }
    }
  }

  &__item {
    display: table-cell;
    list-style: none;
    text-align: center;

    &__link {
      display: block;

      .--level-1 & {
        border-top: 5px solid white;
        border-bottom: 1px solid $light-color;

        &:hover {
          border-top: 5px solid white;
          text-decoration: underline;
        }

        &.--selected {
          border-top: 5px solid $light-color;
          border-bottom: 1px solid white;
          border-left: 1px solid $light-color;
          border-right: 1px solid $light-color;
        }
      }

      .--level-2 & {
        border-bottom: 1px solid white;

        &:hover {
          text-decoration: none;
          font-weight: bold;
          border-top: 5px solid white;
        }

        &.--selected {
          border-top: 5px solid white;
          border-left: 1px solid white;
          border-right: 1px solid white;
          border-bottom: 1px solid white;
          font-weight: bold;
        }
      }
    }

    &.--icon {
      width: 50px;
    }

    &.--last {
      width: 150px;
      white-space: nowrap;

      @media (min-width: $mobile-break) {
        width: auto;
      }
    }
  }
}
