.homepage {
  .header-title {
    margin: 20px 0 40px 100px;

    @media (max-width: 992px) {
      margin: 20px auto 40px auto;
    }
  }

  .logo-lg {
    display: block;
    width: 590px;
    height: 340px;
    background-image: url("/2016/static/img/pyconlogo.svg");
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: contain;

    &:hover {
      background-image: url("/2016/static/img/pyconlogo_grid.svg");
    }

    @media (max-width: 1200px) {
      width: 550px;
      margin-left: 40px;
    }
    @media (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }

  .twitter-tweet {
    float: left;
    margin: 2em;

    @media (max-width: 1200px) {
      float: none;
      margin: auto;
    }
  }
}

.homepage-basic,
.homepage-claim {
  @include clearfix;
}

.homepage-claim {
  margin-top: vr(2);
  margin-bottom: vr(1);
  font-weight: normal;
  font-family: $secondary-font;
  text-align: center;
  line-height: 1.4rem;
}

.homepage-column {
  width: 50%;
  float: left;
  text-align: center;

  .fa {
    display: block;
    margin-bottom: 15px;
    color: $main-color;
  }

  @media (max-width: 992px) {
    width: 100%;
    float: none;

    .homepage-day-venue {
      margin: auto;
    }
  }
}

.nav-main {
  display: table;
  margin: auto;

  ul {
    padding-left: 0;

    li {
      list-style: none;
      width: 215px;
      text-align: center;

      a {
        font-family: $secondary-font;
        display: block;
        padding: 10px;
        margin: 15px 0;
        transition: font-weight 0.3s;

        &:hover {
          text-decoration: none;
          font-weight: 700;
        }

        &:before {
          content: " ";
          position: absolute;
          display: block;
          width: 215px;
          height: 40px;
          margin-top: -7px;
          margin-left: -10px;
          border: solid 1px black;
          transition: transform 0.3s;

        }
        &:hover:before {
          transform: skew(30deg, 0deg);
        }
      }
    }
  }
}

.main-column-1,
.main-column-2 {
  display: inline-block;
  vertical-align: middle;

  @media (max-width: 1200px) {
    width: 100%;
    text-align: center;
  }
}


.teaser-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 4em 0.5em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tweets {
  @include clearfix;
}
