.homepage {
  .logo-lg {
    display: block;
    width: 590px;
    height: 340px;
    background-image: url("/2016/static/img/pyconlogo.svg");
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: contain;

    &:hover {
      background-image: url("/2016/static/img/pyconlogo_grid.svg");
    }

    @media (max-width: 1200px) {
      width: 400px;
      height: 200px;
      margin: 15px auto;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .twitter-tweet {
    float: left;
    margin: 2em;

    @media (max-width: 1200px) {
      float: none;
      margin: auto;
    }
  }
}

.homepage-basic,
.homepage-claim {
  @include clearfix;
}

.homepage-claim {
  margin-top: vr(2);
  margin-bottom: vr(1);
  font-weight: normal;
  font-family: $secondary-font;
  text-align: center;
  line-height: 1.4rem;
}

.homepage-column {
  width: 50%;
  float: left;
  text-align: center;

  .fa {
    display: block;
    margin-bottom: 15px;
    color: $main-color;
  }

  @media (max-width: 992px) {
    width: 100%;
    float: none;

    .homepage-day-venue {
      margin: auto;
    }
  }
}

.nav-main {
  display: table;
  margin: auto;

  ul {
    padding-left: 0;

    li {
      list-style: none;
      width: 215px;
      text-align: center;

      a {
        font-family: $secondary-font;
        display: block;
        padding: 10px;
        margin: 15px 0;
        transition: font-weight 0.3s;

        &:hover {
          text-decoration: none;
          font-weight: 700;
        }

        &:before {
          content: " ";
          position: absolute;
          display: block;
          width: 215px;
          height: 40px;
          margin-top: -7px;
          margin-left: -10px;
          border: solid 1px black;
          transition: transform 0.3s;

        }
        &:hover:before {
          transform: skew(30deg, 0deg);
        }
      }
    }
  }
}

.main-column-1,
.main-column-2 {
  display: inline-block;
  vertical-align: middle;

  @media (max-width: 1200px) {
    width: 100%;
    text-align: center;
  }

  br {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.teaser-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 4em 0.5em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tweets {
  @include clearfix;
}

.keynoters {
  vertical-align: top;
  display: block;

  .keynoter {
    display: inline-block;
    max-width: 33%;
    text-align: justify;
    vertical-align: top;
    padding: 0 15px;
    text-align: center;

    @media (max-width: $container-lg) {
      max-width: 100%;
      text-align: left;
      margin: 20px auto;
    }
    @media (max-width: $container-sm) {
      text-align: center;
    }

    img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      filter: gray; /* IE6-9 */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

      @media (max-width: $container-lg) {
        float: left;
        display: inline-block;
        margin-right: 20px;
      }
      @media (max-width: $container-sm) {
        float: none;
        margin: 0;
      }
    }

    .bio {
      text-align: justify;

      &:nth-child(3n + 1) {
        margin-top: 48px;
      }
      &:nth-child(3n + 3) {
        margin-top: 96px;
      }

      @media (max-width: $container-lg) {
        display: inline;
      }
      @media (max-width: $container-sm) {
        &.p {
          display: block;
          margin-top: auto;
        }
      }
    }
  }

  h4 {
    @media (max-width: $container-sm) {
      margin-top: 15px;
    }
  }
}
