body {
  padding-top: 7em;
  color: $font-color;
  font-family: $main-font;
}

.homepage {
  header {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.7);

  @media (max-width: 767px) {
    width: $container-xs;
  }
  @media (min-width: 768px) {
    width: $container-sm;
  }
  @media (min-width: 992px) {
    width: $container-md;
  }
  @media (min-width: 1200px) {
    width: $container-lg;
  }
}

@mixin heading($size, $top: 2, $bottom: 1) {
  $baseline: vr-scale($size);

  font-size: $size;
  font-family: $secondary-font;
  line-height: $baseline;
  margin-top: vr($top, $baseline);
  margin-bottom: vr($bottom, $baseline)
}

h1 {
  @include heading(38px, 1);

  @media (max-width: 768px) {
    @include heading(30px, 0);

    margin-top: 1.26316em;
    margin-bottom: 0.5em;
  }
  text-align: center;
}

h2 {
  @include heading(29px);
  @media (max-width: 768px) {
    @include heading(22px);
  }
  text-align: center;
}

h3 {
  @include heading(24px);
  text-align: center;
}

h4 {
  @include heading(21px);
  text-align: center;
}

h5 {
  @include heading(18px);
  text-align: center;
}

h6 {
  @include heading(16px);
  text-align: center;
}

.fa-fw {
  width: 30px;
}

strong {
  color: $accent-color;
}

a {
  color: $main-color;
  font-family: $main-font;
  text-decoration: none;

  &:active {
    color: darken($main-color, 10%);
  }
  &:hover {
    text-decoration: underline;
  }
}

small {
  color: $muted-color;
}

h2 > small {
  display: block;
}

.text-block {
  margin: vr(1) auto;
  max-width: 50em;
}

// hanging bullets
li li {
  margin-right: 1em;
}

ul {
  margin: 0 auto;
  padding: 0;
}

.lead {
  font-size: 12px;
}

blockquote {
  -webkit-margin-before: 20px;
  -webkit-margin-after: 10px;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 10px;
  font-family: $secondary-font;
}

.text-center {
  text-align: center;
}

.figure {
  text-align: center;
  padding: 1.5em 0;

  img {
    width: 100%;
  }

  small {
    display: block;
  }
}

.gallery {
  @include clearfix;

  .figure {
    width: 50%;
    float: left;
  }

  .figure:nth-child(1) {
    padding-right: 10px;
  }

  .figure:nth-child(2) {
    padding-left: 10px;
  }
}
