body {
  font-size: $font-normal;
  color: $font-color;
  font-family: $main-font;
}

.homepage {
  header {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);

  @media (max-width: 767px) {
    width: $container-xs;
  }
  @media (min-width: 768px) {
    width: $container-sm;
  }
  @media (min-width: 992px) {
    width: $container-md;
  }
  @media (min-width: 1200px) {
    width: $container-lg;
  }
}

h1 {
  font-size: 3.6rem;
  font-family: $secondary-font;
  margin-top: 20px;
  margin-bottom: 5px;

  @media (max-width: 768px) { font-size: 3rem; }
}
h2 {
  font-size: 2.8rem;
  font-family: $secondary-font;
  margin-top: 20px;
  margin-bottom: 5px;

  @media (max-width: 768px) { font-size: 2.2rem; }
}
h3 {
  font-size: 2.4rem;
  font-family: $secondary-font;
  margin-top: 20px;
  margin-bottom: 5px;
}
h4 {
  font-size: 2.1rem;
  font-family: $secondary-font;
  margin-top: 20px;
  margin-bottom: 5px;
}
h5 {
  font-size: 1.8rem;
  font-family: $secondary-font;
  margin-top: 20px;
  margin-bottom: 5px;
}
h6 {
  font-size: 1.6rem;
  font-family: $secondary-font;
  margin-top: 20px;
  margin-bottom: 5px;
}

.fa-fw {
  width: 3rem;
}

strong {
  color: $accent-color;
}

a {
  color: $main-color;
  font-family: $main-font;
  text-decoration: none;

  &:active {
    color: darken($main-color, 10%);
  }
  &:hover {
    text-decoration: underline;
  }
}

p, ul {
  line-height: 2.3rem;
}

blockquote {
  -webkit-margin-before: 2rem;
  -webkit-margin-after: 1rem;
  -webkit-margin-start: 2rem;
  -webkit-margin-end: 1rem;
  font-family: $secondary-font;
}
