body {
  color: $font-color;
  font-family: $main-font;
}

.homepage {
  header {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.7);

  @media (max-width: 767px) {
    width: $container-xs;
  }
  @media (min-width: 768px) {
    width: $container-sm;
  }
  @media (min-width: 992px) {
    width: $container-md;
  }
  @media (min-width: 1200px) {
    width: $container-lg;
  }
}

@mixin heading($size, $top: 2, $bottom: 1) {
  $baseline: vr-scale($size);

  font-size: $size;
  font-family: $secondary-font;
  line-height: $baseline;
  margin-top: vr($top, $baseline);
  margin-bottom: vr($bottom, $baseline)
}

h1 {
  @include heading(38px, 1);

  @media (max-width: 768px) {
    @include heading(30px, 0);
  }
}

h2 {
  @include heading(29px);
  @media (max-width: 768px) {
    @include heading(22px);
  }
}

h3 {
  @include heading(24px);
}

h4 {
  @include heading(21px);
}

h5 {
  @include heading(18px);
}

h6 {
  @include heading(16px);
}

.fa-fw {
  width: 30px;
}

strong {
  color: $accent-color;
}

a {
  color: $main-color;
  font-family: $main-font;
  text-decoration: none;

  &:active {
    color: darken($main-color, 10%);
  }
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: vr(1) 0;
  max-width: 40em;
}

ul {
  margin: 0;
  padding: 0;
}

// hanging bullets
li li {
  margin-right: 1em;
}

.lead {
  font-size: 12px;
}

blockquote {
  -webkit-margin-before: 20px;
  -webkit-margin-after: 10px;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 10px;
  font-family: $secondary-font;
}

// Team page
.person {
  display: inline-block;
  width: 32%;

  @media (max-width: 991px) {
    width: 49%;
  }
  @media (max-width: 670px) {
    width: 100%;
  }
}

.team-social {
  list-style: none;
  padding: 0;
  display: inline-block;

  @media (max-width: 670px) {
    display: block;
    text-align: center;
  }
}

.team-portrait {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  vertical-align: bottom;

  @media (max-width: 670px) {
    margin: 20px auto;
    display: block;
  }
}
// End Team page

.text-center {
  text-align: center;
}
