.sponsors,
.sponsors__item {
  list-style: none;
}

.sponsors__level {
  display: block;
  font-weight: bold;
  text-align: center;
}

.sponsors__level-group {
  text-align: center;
  margin-bottom: vr(2);
}

.sponsors__item {
  display: inline-block;

  img {
    width: 80%;
    height: auto;
  }

  .sponsors--platinum & {
    width: 50%;
  }

  .sponsors--gold & {
    width: 40%;
  }

  .sponsors--silver & {
    width: 30%;
  }

  .sponsors--bronze &,
  .sponsors--media &,
  .sponsors--diversity & {
    width: 25%;
  }

  @media (max-width: 480px) {
    img {width: 100%;}
    .sponsors--platinum & {width: 60%;}
    .sponsors--gold & {width: 50%;}
    .sponsors--silver & {width: 40%;}
    .sponsors--bronze &,
    .sponsors--media &,
    .sponsors--diversity & {width: 35%;}
  }
}
