.sponsor {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.sponsor__text,
.sponsor__level,
.sponsor__title,
.sponsor__link,
.sponsor__description {
  margin-left: 23%;
  text-align: left;
}

.sponsor__title {
  margin-bottom: 10px;
}

.sponsor__logo {
  float: left;
  width: 20%;
  height: auto;
  margin-top: 1em;
}

.sponsor__link {
  display: block;
  font-size: 0.8em;
}


.sponsors,
.sponsors__item {
  list-style: none;
}

.sponsors__level {
  display: block;
  font-weight: bold;
  text-align: center;
}

.sponsors__level-group {
  text-align: center;
  margin-bottom: vr(2);
}

.sponsors__item {
  display: inline-block;

  img {
    width: 80%;
    height: auto;
  }

  .sponsors--platinum & {
    width: 50%;
  }

  .sponsors--gold & {
    width: 40%;
  }

  .sponsors--silver & {
    width: 30%;
  }

  .sponsors--bronze &,
  .sponsors--media &,
  .sponsors--diversity & {
    width: 25%;
  }

  @media (max-width: 480px) {
    img {width: 100%;}
    .sponsors--platinum & {width: 60%;}
    .sponsors--gold & {width: 50%;}
    .sponsors--silver & {width: 40%;}
    .sponsors--bronze &,
    .sponsors--media &,
    .sponsors--diversity & {width: 35%;}
  }
}
