$vr-font-size: 16px;
$vr-line-height: 1.5;

$font-small: 12px;
$font-normal: $vr-font-size;
$font-big: 20px;

$main-font: "Roboto", sans-serif;
$secondary-font: "Roboto Mono", monospace;

$container-lg: 1170px;
$container-md: 970px;
$container-sm: 750px;
$container-xs: auto;

$mobile-break: 768px;

$main-color: #4E4FA5;
$accent-color: #96223A;
$font-color: #333333;
$light-color: #e0e1fd;
$muted-color: #bbbbbb;

$top-offset: 5em;
