{% extends "_base.html" %}

{% block content %}
  <div class="container">
    <h1>{% block speakers_title %}{% endblock %}</h1>

    {% for speaker in speakers %}
      <section class="speaker">
        <section class="sidebox">
          <img class="portrait" src="{{ speaker.photo.url }}" alt="{{ speaker.full_name }}" />
          <section class="icons">
          {% if speaker.github %}
            <a href="https://github.com/{{ speaker.github }}"><i class="fa fa-fw fa-github-alt" aria-hidden="true"></i></a>
          {% endif %}
          {% if speaker.twitter %}
            <a href="https://twitter.com/{{ speaker.twitter }}"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
          </section>
        </section>

        <section class="details">
          <h2>
            <a name="{{ speaker.full_name|slugify }}" class="name">{{ speaker.full_name }}</a><br>
          </h2>

          <p class="bio">{{ speaker.bio|linebreaksbr }}</p>

          {% block speakers_items %}{% endblock %}
        </section>
      </section>
    {% endfor %}
  </div>
{% endblock %}
