{% extends "_base.html" %}

{% block meta_title %}PyCon CZ Speakers{% endblock %}

{% block content %}
  <div class="container">
    <h1>Speakers</h1>
    {% for speaker in speakers %}
      <section class="speaker">
        <section class="sidebox">
          <img class="portrait" src="{{ speaker.photo.url }}" alt="{{ speaker.full_name }}" />
          <section class="icons">
          {% if speaker.github %}
            <a href="https://github.com/{{ speaker.github }}"><i class="fa fa-fw fa-github-alt" aria-hidden="true"></i></a>
          {% endif %}
          {% if speaker.twitter %}
            <a href="https://twitter.com/{{ speaker.twitter }}"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
          </section>
        </section>

        <section class="details">
          <h2>
            <span class="name">{{ speaker.full_name }}</span><br>
          </h2>

          <p class="bio">{{ speaker.bio|linebreaksbr }}</p>

          {% for talk in speaker.talks.all %}
            <span class="talk-title">
              {{ talk.title }}
            </span>
            <p class="talk-description">{{ talk.abstract|linebreaksbr }}</p>
          {% endfor %}
        </section>
      </section>
    {% empty %}
      <p>Oh no, we forgot to invite speakers!</p>
    {% endfor %}
  </div>
{% endblock %}
