{% extends "_base.html" %}

{% block meta_title %}PyCon CZ - Call for Papers{% endblock %}

{% block content %}
<div class="container">
  <h1>
    PyCon CZ 2016 – Financial Assistance
  </h1>

  <a href="{% url "proposal_form" key="financial_aid" %}" class="cta-cfp">Submit for a grant</a>

  <h2>Timeline</h2>

  <ul>
    <li>Financial aid application opens: Thursday, September 8th</li>
    <li>Financial aid applications close: Monday, September 26th</li>
    <li>Financial aid grants awarded: Monday, October 3rd</li>
  </ul>

  <h2>Philosophy/Outreach</h2>

  <p>
  Our primary goal is to make PyCon CZ accessible to everyone, irrespective of their financial situation. For this reason, we provide multiple tiers of ticket prices, Early-Bird, Student, Individual and Corporate, which enables those who can afford it to subsidize those who can not so we can assist those who might otherwise not be able to attend. This structure enables us to include major diversity and outreach programs such as DjangoGirls, reward and encourage active participation in the PyCon CZ event organization and fund PyCon CZ’s Financial Aid program.
  </p>

  <p>
 PyCon CZ’s financial aid program aims to provide funds to help people attend PyCon CZ. Financial aid recipients have some part of their expenses (which can include travel, hotel, ticket registration) paid for with the PyCon CZ budget. We actively encourage people to apply for financial aid. While we can't cover all expenses for everyone, we try our hardest to optimally allocate our budget. Optimal is, of course, an ambiguous property.
  </p>

  <p>
 Since PyCon is a well position international Python conference in central Europe, it's a meeting place for Python developers from all around the globe. Therefore, the process is particularly designed to benefit people that we believe make PyCon CZ better, particularly speakers and tutorial presenters, as well as notable open source contributors.
  </p>

  <p>
 Additionally, the process attempts to promote a more diverse PyCon event.
  </p>

  <p>
 Finally, the process tries to help people with relatively lower incomes, be it because of their location (lower income countries) or their profession (such as students, or the unemployed).
  </p>

  <p>
 In short, we use the financial aid budget to help individuals who would otherwise not be able to attend the conference or whose presence will bring a justifiably positive impact to other attendees.
  </p>

  <p>
    The financial aid program is about the community nurturing itself by making itself more accessible at PyCon CZ. It is true to the spirit of PyCon, by helping to make the information and interactions available to everyone.
  </p>

  <p>
    PyCon CZ aims to be the largest annual gathering for the Python community in the Czech Republic, focused on honoring and supporting awesome people teaching, learning and innovating with Python in Czech Republic and surrounding EU. The Python Software Foundation, the parent PyCon event organizer and sponsor is to promote, protect, and advance the Python programming language, and to support and facilitate the growth of a diverse and international community of Python programmers. We believe that the financial aid program is aligned perfectly with these goals.
  </p>

  <p>
    To submit a financial aid application, sign up or log in to your account and proceed to the Financial Aid section of your account dashboard!
  </p>

  <p>
    Note, our Code of Conduct is strictly enforced during all official PyCon CZ event activities. All recipients of financial aid cited for a CoC violations will be immediately disqualified for all funding awards.
  </p>

  <p>
    Please don't hesitate to email: <a href="mailto:info@pycon.cz">info@pycon.cz</a>
  </p>
{% endblock %}
